In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
base = '../../data/'

In [4]:
test = pd.read_csv(base+'test_queries.csv')
test['o_lon'] = test.o.apply(lambda x: float(x.split(',')[0]))
test['o_lat'] = test.o.apply(lambda x: float(x.split(',')[1]))
test['d_lon'] = test.d.apply(lambda x: float(x.split(',')[0]))
test['d_lat'] = test.d.apply(lambda x: float(x.split(',')[1]))

o_lon_min = 115.47
o_lat_min = 39.46
d_lon_min = 115.44
d_lat_min = 39.46

test['o_i'] = (test['o_lon'] - o_lon_min)//0.04
test['o_j'] = (test['o_lat'] - o_lat_min)//0.04
test['d_i'] = (test['d_lon'] - d_lon_min)//0.04
test['d_j'] = (test['d_lat'] - d_lat_min)//0.04

test.head()

,sid,pid,req_time,o,d,o_lon,o_lat,d_lon,d_lat,o_i,o_j,d_i,d_j
0,1126541,178395.0,2018-12-05 14:51:43,"116.41,39.92","116.46,39.95",116.41,39.92,116.46,39.95,23.0,11.0,25.0,12.0
1,453685,179178.0,2018-12-01 12:50:33,"116.39,39.90","116.41,39.91",116.39,39.90,116.41,39.91,23.0,10.0,24.0,11.0
2,2066073,184748.0,2018-12-07 10:17:35,"116.37,39.71","116.31,39.89",116.37,39.71,116.31,39.89,22.0,6.0,21.0,10.0
3,452746,162795.0,2018-12-01 07:52:44,"116.33,39.97","116.31,39.98",116.33,39.97,116.31,39.98,21.0,12.0,21.0,12.0
4,1431672,116384.0,2018-12-06 10:36:30,"116.51,39.68","116.51,39.68",116.51,39.68,116.51,39.68,26.0,5.0,26.0,5.0

In [5]:
test.to_csv('../../data/processed/test_od.csv', index=False)